//  //////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////// 
@media screen and (max-width:576px) {
    // ---------------------------------------box---------------------------------------------

    #box {
        width: 90%;
        min-height: 500px;
    }

    header {
        >ul {
            width: 100%;
        }
    }

    // ---------------------------------------welcome---------------------------------------------
    #welcome {
        >h2 {
            font-size: 50px;
        }
    }

    // ---------------------------------------home---------------------------------------------
    #home {
        padding-left: 5%;

        >h1 {
            width: 95%;
        }

        >p {
            width: 95%;
        }

        >div {
            >div {
                width: 190px;
            }
        }
    }

    // ---------------------------------------contact---------------------------------------------

    #contact-form {

        >input,
        textarea {
            width: 70%;
        }
    }
}

//////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////// 
@media screen and (min-width:576px) {
    // ---------------------------------------box---------------------------------------------

    #box {
        width: 90%;
        min-height: 500px;
    }

    header {
        >ul {
            width: 100%;
        }
    }

    // ---------------------------------------home---------------------------------------------
    #home {
        padding-left: 5%;

        >h1 {
            width: 95%;
        }

        >p {
            width: 95%;
        }

        >div {
            >div {
                width: 190px;
            }
        }
    }

    // ---------------------------------------contact---------------------------------------------

    #contact-form {

        >input,
        textarea {
            width: 70%;
        }
    }
}

//////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////// 
@media screen and (min-width:768px) {}

//////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////// 
@media screen and (min-width:992px) {

    // ---------------------------------------home---------------------------------------------
    #home {
        padding-left: 10%;

        >h1 {
            width: 50%;
        }

        >p {
            width: 55%;
        }

        >div {
            >div {
                width: 230px;
            }
        }
    }

    // ---------------------------------------contact---------------------------------------------

    #contact-form {

        >input,
        textarea {
            width: 50%;
        }
    }
}

//////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////// 
@media screen and (min-width:1200px) {
    // ---------------------------------------box---------------------------------------------

    #box {
        width: 80%;
        min-height: 500px;
    }

    header {
        >ul {
            width: 100%;
        }
    }
}

//////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////// 
@media screen and (min-width:1400px) {
    // ---------------------------------------box---------------------------------------------

    #box {
        width: 75%;
        min-height: 500px;
    }

    header {
        >ul {
            width: 70%;
        }
    }

    // ---------------------------------------contact---------------------------------------------

    #contact-form {

        >input,
        textarea {
            width: 40%;
        }
    }
}

//////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////// 
@media screen and (min-width:1600px) {
    // ---------------------------------------box---------------------------------------------

    #box {
        width: 60%;
        min-height: 500px;
    }

    header {
        >ul {
            width: 60%;
        }
    }
}